{% extends 'base-back.html.twig' %}
{% block body %}
    <h1>Ajouter une voiture</h1>

    {{form_start(formA)}}

    <div class="form-group">
        <label for="">Matricule</label>
        {{ form_widget (formA.matricule) }}
    </div>
    <div class="form-group">
        <label for="">Marque</label>
        {{ form_widget (formA.marque) }}
    </div>
    <div class="form-group">
        <label for="">Couleur</label>
        {{ form_widget (formA.couleur) }}
    </div>
    <


    <button type="submit" class="btn btn-success">Ajouter Voiture</button>

    {{form_end(formA)}}


{% endblock %}